* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* ### Neutral */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

img {
    border-radius: 0.5rem;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

p {
    font-weight: 300;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    color: hsl(0, 0%, 100%, 60%);
    padding: 1.25rem;
    padding-top: 90px;
}

.container {
    padding: 1.26rem;
    background-color: var(--card-bg);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}

.container .card-img {
    position: relative;
}

.container .card-img div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.container .card-img div:hover {
    cursor: pointer;
    opacity: 1;
}

.container .card-img div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container h2 {
    color: var(--White);
    margin: 1rem 0.5rem 0.5rem 0;
}

.container h2:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--line);
}

.container ul li {
    display: flex;
    align-items: center;
}

.container ul li:first-child {
    color: var(--Cyan);
}

.container ul li img {
    margin-right: 0.5rem;
}

.container .avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
}

.container .avatar img {
    width: 2.3rem;
    border: 1.9px solid var(--White);
    border-radius: 50%;
    margin-right: 1rem;
}

.container .avatar p span {
    color: var(--White);
    font-weight: 400;
}

.container .avatar p span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.attribution {
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
    .container {
        width: 310px;
        margin: 0 auto 1rem;
    }
}